body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

form .button-container {
  display: flex;
  justify-content: flex-end;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  width: 100px;
  line-height: 20px;
  font-size: 16px;
  color: white;
  background-color: #0054d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: gray;
}

button:hover:not(:disabled) {
  background-color: #00438a;
}

.reminder-group {
  margin-bottom: 20px;
}

.reminder-group h3 {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  margin-bottom: 5px;
  gap: 10px;
}

.reminder-text {
  flex-grow: 1;
  word-break: break-word;
}

.reminder button {
  background-color: red;
  border-radius: 50%;
  width: 16px;
  min-width: 16px;
  line-height: 16px;
  color: white;
  cursor: pointer;
  padding: 0;
}

.reminder button:hover {
  background-color: darkred;
}
